<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <button class="navbar-toggler botoncolapsar collapsed" type="button" (click)="expandirNav()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbarDiv" id="navbarSupportedContent">
        <ul class="navbar-nav" (click)="expandirNav()">
            <div *ngFor="let item of itemsMenu">
                <li class="nav-item active" [routerLink]="[item.href]" [routerLinkActive]="'active'">
                    <a class="nav-link">{{item.title}}</a>
                </li>
            </div>
        </ul>

    </div>
</nav>
<p class="RuasMediumGrunge centerText">HORARIO</p>
<p class="centerText">De lunes a viernes <br> de 08:00 a 20:00</p>
<p class="RuasMediumGrunge centerText">DONDE PUEDES ENCONTRARNOS</p>
<p class="centerText">Guarderia Casa dei Bambini<br>Calle de la Armuña nº2<br>47008, Valladolid<br><a class="centerText" href="https://goo.gl/maps/NfefBg1ZRq4E9JKD9" target="_blank">Ubicacion exacta</a> </p>
<div class="row justify-content-center ">
    <img src="/./assets/images/planoUbicacion.png" class="img-fluid rounded d-block">
</div>
<p class="RuasMediumGrunge centerText">CONCIERTA UNA CITA PARA CONOCERNOS</p>
<p class="centerText">Teléfono: 658 91 68 99<br>Correo: <a class="centerText" href="mailto:guarderiacasadeibambini@gmail.com" target="_blank">guarderiacasadeibambini@gmail.com</a><br>Instagram: <a class="centerText"  href="https://www.instagram.com/casa_dei_bambini_valladolid/" target="_blank">Guarderia Casa dei Bambini</a></p>
