.imagenMenu {
    margin-left: 1em;
    position: absolute;
    z-index: 2;
    height: 5.8em;
    margin-top: 1em;
}

.bg-img {
    z-index: -1;
    background-image: url('/./assets/images/texturaHormigon.jpg');
    background-position: center;
    background-repeat: repeat;
    height: 7.5em;
}

@media only screen and (max-width: 768px) {

    // nav en version movil donde tenemos transicion al dar al boton
    .bg-img{
        height: 4em;
    }
    .imagenMenu{
        margin-top: 0.2em;
        height: 3.6em;
    }
}