nav {
    background-color: #B9BFBF !important;
    opacity: 75%;
    background-image: url('/./assets/images/texturaHormigon.jpg');
    background-position: center;
    background-repeat: repeat;
    height: 4em;
}

a {
    color: white !important;
    font-family: 'RuasMediumGrunge' !important;
    font-size: 1.7em;
}

li {
    margin-left: 3em;
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
}

.active {
    font-weight: bold;
}

@media only screen and (max-width: 768px) {

    // nav en version movil donde tenemos transicion al dar al boton
    nav {
        height: 3em;
        width: 100%;
        padding: 0.2em 1em 1em 1em;
        transition: 0.5s;
        z-index: 100;
    }
}