<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <button class="navbar-toggler botoncolapsar collapsed" type="button" (click)="expandirNav()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbarDiv" id="navbarSupportedContent">
        <ul class="navbar-nav" (click)="expandirNav()">
            <div *ngFor="let item of itemsMenu">
                <li class="nav-item active" [routerLink]="[item.href]" [routerLinkActive]="'active'">
                    <a class="nav-link">{{item.title}}</a>
                </li>
            </div>
        </ul>

    </div>
</nav>
<p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [circular]=true [showThumbnailNavigators]=true [containerStyle]="{'max-width': '75em','margin':'4em auto 0 auto'}" [numVisible]="5"> 
    <ng-template pTemplate="item" let-item>
        <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.thumbnailImageSrc" style="display: block; width: 10em;" />
        </div>
    </ng-template>
    <ng-template pTemplate="caption" class="captionGalery" let-item [containerStyle]="{'padding':'0 !important'}" >
            <h4 class="tituloImagen">{{item.title}}</h4>
    </ng-template>
</p-galleria>