<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <button class="navbar-toggler botoncolapsar collapsed" type="button" (click)="expandirNav()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbarDiv" id="navbarSupportedContent">
        <ul class="navbar-nav" (click)="expandirNav()">
            <div *ngFor="let item of itemsMenu">
                <li class="nav-item active" [routerLink]="[item.href]" [routerLinkActive]="'active'">
                    <a class="nav-link">{{item.title}}</a>
                </li>
            </div>
        </ul>

    </div>
</nav>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 col-12">
            <h2 >Vida practica<img src='/./assets/images/vidapractic1.jpg' style="width:3em"></h2> 
            <p>Está enfocada a que el niño actúe autónomamente, desarrollando de esta manera su independencia y su autoestima.<br>

                <strong>1. Cuidado personal:</strong> calzarse y descalzarse, elegir su propia ropa, abrochar prendas...<br>
                <strong>2. Cuidado del medio ambiente y los espacios:</strong> limpieza del espacio, cuidado de jardinería, contribución en las tareas de cocina...<br>
                <strong>3. Gracia y cortesía:</strong> saludos, modales, interacciones sociales...<br>
                <strong>4. Control del movimiento y adquisición de concentración:</strong> verter contenidos y líquidos, desplazamiento de objetos... </p>
        </div>
        <div class="col-md-6 col-12 imagenMovil">
            <p-galleria [value]="imagesVidaPractica" [responsiveOptions]="responsiveOptions" [autoPlay]=true
                [transitionInterval]="3000" [containerStyle]="{'max-width': '75em','margin':'3em auto 0 auto'}"
                 [circular]=true [showThumbnails]=false >
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" class="imagenesMetodologia" />
                </ng-template>
            </p-galleria>
        </div>
    </div>
    <div class="row mt-5 columnReverse">
        <div class="col-md-6 col-12 imagenMovil">
            <p-galleria [value]="imagesSensorial" [responsiveOptions]="responsiveOptions" [autoPlay]=true
                [transitionInterval]="3000" [containerStyle]="{'max-width': '75em','margin':'3em auto 0 auto'}"
                 [circular]=true [showThumbnails]=false >
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" class="imagenesMetodologia" />
                </ng-template>
            </p-galleria>
        </div>
        <div class="col-md-6 col-12">
            <h2>Sensorial <img src='/./assets/images/sensorial1.jpg' style="width:3em"></h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum."</p>
        </div>
        
    </div>
    <div class="row mt-5">
        <div class="col-md-6 col-12">
            <h2>Matemáticas<img src='/./assets/images/matematicas1.jpg' style="width:3em"></h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum."</p>
        </div>
        <div class="col-md-6 col-12 imagenMovil">
            <p-galleria [value]="imagesMatematicas" [responsiveOptions]="responsiveOptions" [autoPlay]=true
                [transitionInterval]="3000" [containerStyle]="{'max-width': '75em','margin':'3em auto 0 auto'}"
                 [circular]=true [showThumbnails]=false >
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc"class="imagenesMetodologia"  />
                </ng-template>
            </p-galleria>
        </div>
    </div>
    <div class="row mt-5 columnReverse">
        <div class="col-md-6 col-12 imagenMovil">
            <p-galleria [value]="imagesLenguaje" [responsiveOptions]="responsiveOptions" [autoPlay]=true
                [transitionInterval]="3000" [containerStyle]="{'max-width': '75em','margin':'3em auto 0 auto'}"
                 [circular]=true [showThumbnails]=false >
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" class="imagenesMetodologia" />
                </ng-template>
            </p-galleria>
        </div>
        <div class="col-md-6 col-12">
            <h2>Lenguaje<img src='/./assets/images/lenguaje1.jpg' style="width:3em"></h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum."</p>
        </div>
        
    </div>
    <div class="row mt-5">
        <div class="col-md-6 col-12">
            <h2>Cultura <img src='/./assets/images/cultura1.jpg' style="width:3em"></h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum."</p>
        </div>
        <div class="col-md-6 col-12 imagenMovil">
            <p-galleria [value]="imagesCultura" [responsiveOptions]="responsiveOptions" [autoPlay]=true
                [transitionInterval]="3000" [containerStyle]="{'max-width': '75em','margin':'3em auto 0 auto'}"
                 [circular]=true [showThumbnails]=false >
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" class="imagenesMetodologia"  />
                </ng-template>
            </p-galleria>
        </div>
    </div>