<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <button class="navbar-toggler botoncolapsar collapsed" type="button" (click)="expandirNav()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbarDiv" id="navbarSupportedContent">
        <ul class="navbar-nav" (click)="expandirNav()">
            <div *ngFor="let item of itemsMenu">
                <li class="nav-item active" [routerLink]="[item.href]" [routerLinkActive]="'active'">
                    <a class="nav-link">{{item.title}}</a>
                </li>
            </div>
        </ul>

    </div>
</nav>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 col-12">
            <h2>Vida practica</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum."</p>
        </div>
        <div class="col-md-6 col-12">
            <p-galleria [value]="imagesVidaPractica" [responsiveOptions]="responsiveOptions" [autoPlay]=true
                [transitionInterval]="3000" [containerStyle]="{'max-width': '75em','margin':'3em auto 0 auto'}"
                 [circular]=true [showThumbnails]=false >
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" class="imagenesMetodologia" />
                </ng-template>
            </p-galleria>
        </div>
    </div>
    <div class="row mt-5 columnReverse">
        <div class="col">
            <p-galleria [value]="imagesSensorial" [responsiveOptions]="responsiveOptions" [autoPlay]=true
                [transitionInterval]="3000" [containerStyle]="{'max-width': '75em','margin':'3em auto 0 auto'}"
                 [circular]=true [showThumbnails]=false >
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" style="width: 30em;height: 17em;" />
                </ng-template>
            </p-galleria>
        </div>
        <div class="col">
            <h2>Sensorial</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum."</p>
        </div>
        
    </div>
    <div class="row mt-5">
        <div class="col">
            <h2>Matemáticas</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum."</p>
        </div>
        <div class="col">
            <p-galleria [value]="imagesMatematicas" [responsiveOptions]="responsiveOptions" [autoPlay]=true
                [transitionInterval]="3000" [containerStyle]="{'max-width': '75em','margin':'3em auto 0 auto'}"
                 [circular]=true [showThumbnails]=false >
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" style="width: 30em;height: 17em;" />
                </ng-template>
            </p-galleria>
        </div>
    </div>
    <div class="row mt-5 columnReverse">
        <div class="col">
            <p-galleria [value]="imagesLenguaje" [responsiveOptions]="responsiveOptions" [autoPlay]=true
                [transitionInterval]="3000" [containerStyle]="{'max-width': '75em','margin':'3em auto 0 auto'}"
                 [circular]=true [showThumbnails]=false >
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" style="width: 30em;height: 17em;" />
                </ng-template>
            </p-galleria>
        </div>
        <div class="col">
            <h2>Lenguaje</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum."</p>
        </div>
        
    </div>
    <div class="row mt-5">
        <div class="col">
            <h2>Cultura</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum."</p>
        </div>
        <div class="col">
            <p-galleria [value]="imagesCultura" [responsiveOptions]="responsiveOptions" [autoPlay]=true
                [transitionInterval]="3000" [containerStyle]="{'max-width': '75em','margin':'3em auto 0 auto'}"
                 [circular]=true [showThumbnails]=false >
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" style="width: 30em;height: 17em;" />
                </ng-template>
            </p-galleria>
        </div>
    </div>