<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <button class="navbar-toggler botoncolapsar collapsed" type="button" (click)="expandirNav()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbarDiv" id="navbarSupportedContent">
        <ul class="navbar-nav" (click)="expandirNav()">
            <div *ngFor="let item of itemsMenu">
                <li class="nav-item active" [routerLink]="[item.href]" [routerLinkActive]="'active'">
                    <a class="nav-link">{{item.title}}</a>
                </li>
            </div>
        </ul>

    </div>
</nav>
<div class="container">
    <div class="row mt-5">
        <h2 class="col-md-12 col-12" >Vida práctica<img src='/./assets/images/vidapractic1.jpg' style="width:3em"></h2> 
        <div class="row m-0 p-0">
            <div class="col-md-5 col-12">
                <p>Está enfocada a que el niño actúe autónomamente, desarrollando de esta manera su independencia y su autoestima..<br>
                    <strong>1.Cuidado personal:</strong> calzarse y descalzarse, elegir su propia ropa, abrochar prendas, higiene personal… <br>
                    <strong>2.Cuidado del medio ambiente y los espacios:</strong> limpieza del espacio, cuidado de jardinería y plantas, contribución en las tareas de cocina, respeto y cuidado de mascotas y animales… <br>
                    <strong>3.Gracia y cortesía:</strong> saludos, modales, interacciones sociales, cortesía en la mesa, aprender a pedir ayuda, respetar los turnos…<br>
                    <strong>4.Control del movimiento y adquisición de concentración:</strong> verter líquidos, desplazamiento de objetos, bajar y subir escaleras y estimulación de la concentración mediante ejercicios como caminar sobre una línea, desplazarse en silencio… </p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 col-12 imagenMovil">
                <p-galleria [value]="imagesVidaPractica" [responsiveOptions]="responsiveOptions" [autoPlay]=true
                    [transitionInterval]="3000" [containerStyle]="{'max-width': '75em','margin':'0 auto 0 auto'}"
                     [circular]=true [showThumbnails]=false >
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.previewImageSrc" class="imagenesMetodologia" />
                    </ng-template>
                </p-galleria>
            </div>
        </div>
        
    </div>
    <div class="row mt-5 ">
        <h2 class="col-md-12 col-12" >Sensorial <img src='/./assets/images/sensorial1.jpg' style="width:3em"></h2>
        <div class="columnReverse row m-0 p-0">
            <div class="col-md-5 col-12 imagenMovil">
                <p-galleria [value]="imagesSensorial" [responsiveOptions]="responsiveOptions" [autoPlay]=true
                    [transitionInterval]="3000" [containerStyle]="{'max-width': '75em','margin':'0 auto 0 auto'}"
                     [circular]=true [showThumbnails]=false >
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.previewImageSrc" class="imagenesMetodologia" />
                    </ng-template>
                </p-galleria>
            </div>
            <div class="col-md-1"></div>
            
            <div class="col-md-5 col-12">
                <p>Consiste en despertar, desarrollar y perfeccionar todos los sentidos. Es una de las áreas de trabajo de María Montessori a la que se le da una gran importancia, ya que el desarrollo de los sentidos es la base del dominio de futuros conocimientos. <br>
                    <strong>1.Tacto:</strong> la discriminación de diferentes texturas, temperaturas… <br>
                    <strong>2.Vista:</strong> diferenciación de formas, tamaños y colores. <br>
                    <strong>3.Gusto:</strong> distinción de sabores. <br>
                    <strong>4.Olfato:</strong> discrimina olores. <br>
                    <strong>5.Oído:</strong> se consigue diferenciar entre diferentes sonidos. </p>
                <p>María Montessori considera un sexto sentido denominado estereognóstico. Este sentido, no es únicamente el sentido del tacto, sino la combinación de dos sensaciones, la táctil y la muscular. Lo que nosotros llamamos en los ciegos el sentido del tacto, es en realidad el sentido estereognóstico.</p>
            </div>
        </div>
        
        
    </div>
    <div class="row mt-5">
        <h2 class="col-md-12 col-12" >Matemáticas<img src='/./assets/images/matematicas1.jpg' style="width:3em"></h2>
        <div class="row m-0 p-0">
            <div class="col-md-5 col-12">
            
                <p>La base de las matemáticas permite desarrollar al niño sus habilidades y cualidades de lógica, orden, secuencia y extrapolación. Para ello, se utilizan materiales con carácter autocorrector que consisten en la apreciación del error determinado por el propio material para que el niño adquiera la evidencia del suceso. El deseo del niño de alcanzar un fin que le es bien conocido le impulsa a corregirse a sí mismo. Es un trabajo del material y de la propia inteligencia del niño lo que le lleva al resultado. Las herramientas aplicadas en el área de matemáticas pueden calificarse por su finalidad en el aprendizaje en: <br>
    
                    <strong>1.Geometría:</strong> solidos geométricos de madera, formas geométricas...<br>
                    <strong>2.Formas y tamaños:</strong> torre, juego de cilindros, resaques metálicos... <br>
                    <strong>3.Introducción a los números:</strong> ábaco, barras rojas y azules, números lija…<br>
                    <strong>4.Sistema decimal:</strong> escalera y tiras de perlas, caja de huso de madera… </p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 col-12 imagenMovil">
                <p-galleria [value]="imagesMatematicas" [responsiveOptions]="responsiveOptions" [autoPlay]=true
                    [transitionInterval]="3000" [containerStyle]="{'max-width': '75em','margin':'0 auto 0 auto'}"
                     [circular]=true [showThumbnails]=false >
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.previewImageSrc"class="imagenesMetodologia"  />
                    </ng-template>
                </p-galleria>
            </div>
        </div>

    </div>
    <div class="row mt-5 ">
        <h2 class="col-md-12 col-12" >Lenguaje<img src='/./assets/images/lenguaje1.jpg' style="width:3em"></h2>
        <div class="columnReverse row m-0 p-0">
            <div class="col-md-5 col-12 imagenMovil">
                <p-galleria [value]="imagesLenguaje" [responsiveOptions]="responsiveOptions" [autoPlay]=true
                    [transitionInterval]="3000" [containerStyle]="{'max-width': '75em','margin':'0 auto 0 auto'}"
                     [circular]=true [showThumbnails]=false >
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.previewImageSrc" class="imagenesMetodologia" />
                    </ng-template>
                </p-galleria>
            </div>
            <div class="col-md-1"></div>
            
            <div class="col-md-5 col-12">
                
                <p>Se constituye por el aprendizaje de la lectura, la escritura y el habla. Todos los materiales del área del lenguaje, atienden a un propósito específico para adquirir un conocimiento ordenado y sin dificultad.</p>
                <p style="text-align: center"><strong>“Lo que la mano hace, la mente lo recuerda” María Montessori</strong></p>
                <p> <strong>1. </strong>En primer lugar, el niño toca las letras por sí mismo, una y otra vez, y de este modo establece los movimientos necesarios para trazar los signos alfabéticos. Este proceso forma la primera preparación, no sólo para la escritura, sino también para la lectura, porque cuando el niño toca las letras, hace el movimiento correspondiente a la escritura, y al mismo tiempo, cuando las reconoce aprende el alfabeto.  <br>
                    <strong>2. </strong>Posteriormente, comienzan a unirlos para formar palabras con el uso de un alfabeto móvil, lo cual pone los cimientos para la elaboración de la escritura, ejercitando el trazo y la habilidad para dejar espacio entre las palabras.
                    <br> </p>
            </div>
        </div>
        
        
    </div>
    <div class="row mt-5">
        <h2 class="col-md-12 col-12" >Cultura <img src='/./assets/images/cultura1.jpg' style="width:3em"></h2>
        <div class="row m-0 p-0">
            <div class="col-md-5 col-12">
            
                <p>Su objetivo es agudizar los poderes de observación en los niños y comprender el mundo que los rodea. El área cultural se compone de:<br>
    
                    <strong>1.Geografía:</strong> permite comprender su propia cultura y las que hay en el resto del mundo. <br>
                    <strong>2.Botánica:</strong> aprenden sobre ecología, fisiología de las plantas, su clasificación, las consecuencias y como afecta el cambio climático, la sostenibilidad, etc…<br>
                    <strong>3.Historia:</strong> consiste en comprender el tiempo histórico pasado y actual mediante líneas del tiempo y calendarios.<br>
                    <strong>4.Zoología:</strong> aprenden a clasificar los animales, conocen su fisiología, sus características, dónde se ubican en el mapa terrestre, etc... <br>
                    <strong>5.Ciencia:</strong> trabajan con experimentos prácticos y aprenden la constitución del cuerpo humano.<br>
                    <strong>6.Arte y música:</strong> su aprendizaje permite desarrollo de las habilidades de expresión, sociales, emocionales y cognitivas. </p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 col-12 imagenMovil">
                <p-galleria [value]="imagesCultura" [responsiveOptions]="responsiveOptions" [autoPlay]=true
                    [transitionInterval]="3000" [containerStyle]="{'max-width': '75em','margin':'0 auto 0 auto'}"
                     [circular]=true [showThumbnails]=false >
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.previewImageSrc" class="imagenesMetodologia"  />
                    </ng-template>
                </p-galleria>
            </div>
        </div>
        
    </div>
    <div>
        <p>

        </p>
    </div>