@font-face {
    font-family: RuasMediumGrunge;
    src: url(assets/fonts/RuasMediumGrunge.otf) format("opentype");
}
@font-face {
    font-family: CaviarDreams;
    src: url(assets/fonts/CaviarDreams.ttf) format("opentype");
}

*{
    font-family: CaviarDreams; 
}