<div class="inicio">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <button class="navbar-toggler botoncolapsar collapsed" type="button" (click)="expandirNav()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbarDiv" id="navbarSupportedContent">
      <ul class="navbar-nav" (click)="expandirNav()">
        <div *ngFor="let item of itemsMenu">
          <li class="nav-item active" [routerLink]="[item.href]" [routerLinkActive]="'active'">
            <a class="nav-link">{{item.title}}</a>
          </li>
        </div>
      </ul>

    </div>
  </nav>
  <p class="texto">La educación es considerada uno de los ejes esenciales de la sociedad,
    es fundamental para contribuir a que los sujetos se desarrollen
    e integren en el contexto en que viven. El presente documento
    tiene como objetivo tener en cuenta las necesidades del niño
    y satisfacerlas para que su vida pueda desenvolverse plenamente.</p>
</div>